@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true; /* set as default */

  --color-app-bg: #f9f7f4;
  --color-base-100: #fcfbf9;
  --color-base-200: #f5f3ee;
  --color-primary: #00a140;
  --color-primary-content: var(--color-white);
  --color-base-content: #2e2928;
  --color-bookings-heading: #8c8989;
  --text-red: #ef3727;
  --text-alert: #f14f41;
  --text-success: #00c950;
}

body {
  background-color: var(--color-app-bg);
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}